label
	user-select: none
.hidden
	visibility: hidden
.error
	color: red
.wiql
	min-height: 6em
	min-width: 90%
	display: block
.compareWithPast input
	margin-left: 5px
.stage
	top: 2px
	position: relative
	box-sizing: border-box
	.header
		position: absolute
		cursor: default
		disabled: true
	.divider
		position: absolute
		cursor: default
		disabled: true
	.bucket
		color: white
		background-color: black
		padding-left: 2px
		height: 1em
		width: 15em
		position: absolute
		cursor: default
		disabled: true
	.item
		color: white
		background-color: blue
		padding-left: 2px
		height: 1em
		width: 10em
		position: absolute
		cursor: default
	.item.finished
		background-color: green
	.dropped
		color: white
		background-color: darkred
		padding-left: 2px
		height: 1em
		position: absolute
		text-overflow: clip
		border: 1px solid black
	.item:hover, .dropped:hover, .bucket:hover
		border-color: lightgrey
.menuItem
	margin-left: 1em
.selected
	min-width: 70vw
.help
	.serverUrlOverride, .PAT
		width: 40em
		display: block
.teamPicker
	.selected
		font-weight: bold